site_name: Joy of Electronic Literature Recipes

theme:
  name: material
  palette:
    primary: deep purple
    accent: amber
  features:
    - navigation.tabs
    - search.highlight

docs_dir: docs

nav:
  - Home: index.md
  - Recipes: recipes/
